<h1>Editing Team</h1>

<%= form_for(@team) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="actions">
    <%= f.submit "Update Team" %>
  </div>
<% end %>

<%= link_to 'Show', @team %> |
<%= link_to 'Back', teams_path %>
