<div class="col-md-4 col-centered">

<h1>New Team</h1>

<%= form_for @team, html: {class: "form-horizontal center"} do |f| %>

  <div class="form-group">
    <%= f.label :name, class: "control-label" %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="actions">
    <%= link_to 'Back', teams_path, class: "btn btn-default pull-left" %>
    <%= f.submit "Create and Join Team", class: "btn btn-default btn-primary pull-right" %>
  </div>
<% end %>
