<ul>
  <%if user_signed_in?%>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <p>Welcome, <%= current_user.username%>. ID: <%= current_user.id %>
  <%else%>
    <%= link_to "Sign In", new_user_session_path %>
    <%= link_to "Sign Up", new_user_registration_path %>
    <%= link_to "Sign in with Twitter", user_twitter_omniauth_authorize_path %>

  <%end%>
</ul>

<h1>Assassins</h1>
<p>this is the home page</p>


<% if current_user && current_user.team%>
  <strong>Team:</strong> <%= link_to current_user.team.name, current_user.team%>
  <h3>Teammates:</h3>
  <ul>
  <% current_user.team.users.each do |user| %>
   <% next if user == current_user %>
    <li><%= link_to user.username, player_path(user)%></li>
  <% end %>
</ul>

  <% if current_user.team.target %>
    <h3>Targets:</h3>
    <ul>
    <% current_user.team.target.users.each do |target| %>
      <li><%= link_to target.username, player_path(target)%></li>
    <% end %>
  </ul>
  <% end %>
<% end %>
