<p id="notice"><%= notice %></p>

<h1>Kills</h1>

<table>
  <thead>
    <tr>
      <th>Killer</th>
      <th>Victim</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kills.each do |kill| %>
      <tr>
        <td><%= kill.killer.username %></td>
        <td><%= kill.victim.username %></td>
        <td><%= kill.kill_time %></td>
        <td><%= link_to 'Show', kill.kill_confirmation %></td>
        <% if false %>
        <td><%= link_to 'Edit', edit_kill_path(kill) %></td>
        <td><%= link_to 'Destroy', kill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Report a Kill', new_kill_confirmation_path %>
