<p id="notice"><%= notice %></p>

<p>
  <strong>Kill:</strong>
  <%= @kill_confirmation.kill.to_sentence %>
</p>

<p>
  <strong>Reported By:</strong>
  <%= @kill_confirmation.sender.username%>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @kill_confirmation.receiver.username %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @kill_confirmation.confirmed? %>
</p>

<%= link_to 'Edit', edit_kill_confirmation_path(@kill_confirmation) %> |
<%= link_to 'Back', kill_confirmations_path %>
