<div class="col-md-4 col-centered">
  <h1>New Game</h1>

  <%= form_for @game, html: {class: "form-horizontal center"} do |f| %>

    <div class="form-group">
      <%= f.label :name, class: "control-label"%>
      <%= f.text_field :name, class:"form-control"  %>
    </div>
    <div class="form-group">
      <%= f.label :code, class: "control-label"%>
      <div class="input-group">
        <%= f.text_field :code, placeholder: "Leave blank to allow anyone to join", class:"form-control", id:"code-field" %>
        <div id="gen-code" class="form-button input-group-addon">
          <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </div>
      </div>

    </div>
    <div class="actions">
      <%= back_link "Back", "btn btn-default pull-left" %>
      <%= f.submit "Create and Join Team", class: "btn btn-default btn-primary pull-right" %>
    </div>
  <% end %>
</div>
