<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>
<%if current_user == @game.owner%>
  <p>
    <strong>Code:</strong>
    <%= @game.code %>
  </p>
<% else %>
<p>
  <strong>Invite Only:</strong>
  <%= (bool_to_yn @game.invite_only?).capitalize %>
</p>
<% end %>

<p>
  <strong>Owner:</strong>
  <%= link_to @game.owner.username, player_path(@game.owner)%>
</p>

<p>
  <strong>Players:</strong>
  <%= @game.users.count %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= back_link %>
