<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>
<%if current_user == @game.owner%>
  <p>
    <strong>Code:</strong>
    <%= @game.code %>
  </p>
<% else %>
<p>
  <strong>Invite Only:</strong>
  <%= @game.invite_only? %>
</p>
<% end %>

<p>
  <strong>Owner:</strong>
  <%= @game.owner.username %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
