<h1>Invite User to <%= current_user.team.name%></h1>
<p>Invite a user to join <%= current_user.team.name%>.</p>
<%= form_for(@team_request) do |f| %>

  <div class="field">
    <%= f.label :reciever_id %><br />
<%= f.collection_select :reciever_id, User.order(:username), :id, :username, prompt: "Select User", autofocus: true %>  </div>
  <div class="actions">
    <%= f.submit "Send Request" %>
  </div>
<% end %>

<%= link_to 'Back', team_requests_path %>
